<header>
    <%= link_to :admin_dashboard do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
</header>

<main id="houses-container" class="container-fluid">
    <%= react_component("Houses", { 
        houses: @houses.each do |house| house.house_points = house.points end
    }) %>
</main>
