<header>
    <%= link_to current_user do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
</header>

<main id="house-display" class="container-fluid">
    <%= react_component("SingleHouse", { 
        house: @house,
        housePoints: @house.points
    }) %>
</main>
