<header>
    <%= link_to :admin_dashboard do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <div class="empty"></div>
</header>

<main class="container">
    <%= react_component("StudentsAdmin", {
        students: @students.sort_by(&:points).reverse.each do |student| student.uid = student.points end,
    }) %>
</main>
