<header>
    <%= link_to dashboard_url do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <%= link_to :logout do %>
        <i class="material-icons md-36 md-light">exit_to_app</i>
    <% end %>
</header>

<main class="container">
    <%= react_component("students/show", {
        student: @student,
        points: @student.points,
        registrations: @student.registrations,
        evidences: @student.evidences
    }) %>
</main>