<header>
    <%= link_to dashboard_url do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <%= link_to :logout do %>
        <i class="material-icons md-36 md-light">exit_to_app</i>
    <% end %>
</header>

<main class="container">
    <%= react_component("students/show", {
        student: current_user,
        points: current_user.points,
        registrations: current_user.registrations,
        evidences: current_user.evidences
    }) %>
</main>