<header>
  <%= link_to :root do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<h1 class="main-title">Tu evidencia ha sido registrada!!</h1>

<%= link_to :root, {:id => "to_home", :class => "button-component"}, method: :get do %>
    <span>REGRESAR A HOME</span>
    <i class="material-icons md-36 md-dark">arrow_forward_ios</i>
<% end %>