<header>
  <%= link_to :root do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<p class="page-title">REGISTRAR EVIDENCIA:</p>

<section>
<%= render 'form', registration: @registration %>
</section>
