<header>
    <img src="" class="empty">
    <p class="title">ADMIN</p>
    <img src="" class="empty">
</header>


<main class="container">
    <%= react_component("Admin", {
        userName: current_user.f_name
    }) %>
</main>