<header>
    <%= link_to dashboard_url do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <img src="" class="empty">
    <p class="title">ADMIN</p>
    <img src="" class="empty">
    <div class="empty"></div>
</header>


<main class="container">
    <%= react_component("Admin", {
        userName: current_user.f_name
    }) %>
</main>