<h1>BIENVENIDO <%= current_user.f_name %>!! ESTE ES EL ADMIN PODEROSO ALV!!</h1>


<%= button_to "Crear evento", new_event_path, method: :get %>
<%= button_to "Crear evidencia", new_evidence_path, method: :get %>