<header>
    <%= link_to :root, {:class => "back-button"} do %>
        <img src="/material/baseline_arrow_back_white_18dp.png">
    <% end %>
    <p class="header-title">Iniciar Sesión</p>
    <img src="" class="left-corner"/>
</header>

<div class="page-wrapper">
    <section id="login-container">
        <%= link_to :google_login, {:class => "google-login"} do %>
            <img src="/material/btn_google_signin.png" />
        <% end %>
    </section>

    <section id="signup-container">
        <%= link_to "Sign Up", :signup  %>
    </section>
</div>

