<header class="container-fluid p-0 justify-content-between">
    <%= link_to :root  do %>
        <i class="material-icons md-36 md-light">arrow_back</i>
    <% end %>
    <p class="title m-0">Iniciar Sesión</p>
    <div class="empty"></div>
</header>

<main class="container" style="max-width: 320px;">
    <p class="itesm-banner mt-5">Ingresa sesión con una cuenta <strong>@itesm.mx</strong></p>
    <section id="login-container" class="container align-items-center">
        <%= link_to :google_login do %>
            <img src="/material/btn_google_signin.png" class="w-100" />
        <% end %>
    </section>

    <section id="signup-container" class="container button-component align-items-center">
        <p class="m-0">¿Primera vez aquí?</p>
        <%= link_to "Registrarme", :signup, {:class => "p-4"}  %>
    </section>
</main>

