<header>
  <%= link_to :events do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <p class="title">ADMIN</p>
  <div class="empty"></div>
</header>

<main class="container">
  <%= render 'form', event: @event %>
</main>
