<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <p class="title">ADMIN</p>
  <div class="empty"></div>
</header>

<%= react_component("events/index", {
  events: @events.sort_by(&:start),
  backendURL: $BACKEND_URL,
}) %> 