<header>
  <%= link_to :root do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<%= react_component("events/show", {
  event: @event,
  backendURL: $BACKEND_URL,
  assistants: @event.students,
  admin: current_user.admin?,
  portrait: @event.portrait.attached? ? url_for(@event.portrait) : @event.img_url,
  currentUser: current_user,
  currentAssistance: @assistance
}) %>
