<main class="container">
    <div class="container">
        <div class="row">
            <div class="saitc-img-container col-md-6" >
                <img src="/saitc_sweat.png">
            </div>
            <p class="error-banner col-md-6">Ha habido un error. La página solicitada no existe.</p>
        </div>
    </div>
</main>