<header>
  <%= link_to :admin_dashboard do %>
      <i class="material-icons md-36 md-light">arrow_back</i>
  <% end %>
  <div class="empty"></div>
</header>

<main class="container">
<section id="edit-redirect">
  <%= render 'form', redirect: @redirect %>
</section>
</main>
