// $registration-button-color: #ff5e8c;//#c6538c;
$registration-button-color: #ff336de0;//#c6538c;
$registration-border-color: #4f2934;//rgba($base-color, 0.88);
$registration-hover-color: #ff0048e0;

// $events-button-color: #5c7cff; // 466bff
// $events-border-color: #333b5e; // 172455

$events-button-color: #466bff;
$events-border-color: #172455;
$events-hover-color: #466bff;

$houses-button-color: #8d70eb;
$houses-border-color: #322c48;
$houses-hover-color: #8d70eb;

$students-button-color: #36ee46;
$students-border-color: #355538;
$students-hover-color: #4fff5e;

$evidences-button-color: #e1d01a;
$evidences-border-color: #5e4121;
$evidences-hover-color: #e1d01a;

.material-icons.md-inherit {
  font-size: inherit;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.monospace {
  font-family: "Roboto Mono", monospace;
}

.button-component:active,
.button-component:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

main {
  padding-top: 56px;
  min-height: 100vh;
}

// Hecho para una o dos lineas solamente
@mixin button-component($font-size, $back-color, $bord-color, $hover-color) {
  font-size: $font-size;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  justify-content: space-between;
  padding: 8px;
  line-height: 1em;
  background-color: $back-color;
  // border: $bord-color solid 4px;
  // border-radius: 8px;
  box-shadow: 5px 10px 8px #888888;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  color: #ffffff;
  
  // :hover{
  //   background-color: $hover-color;
  // }

  span {
    flex-grow: 1;
    text-align: center;
    // color: #ffffff;
    color: #222222;
  }

  i {
    font-size: 1em;
  }
}

@mixin user-image($width) {
  width: $width;
  min-width: $width;
  height: $width * 1.15;
  position: relative;
  padding: 0;

  .user-img {
    width: 100%;
    border-radius: 50%;
  }

  .house-icon {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@mixin panel-component($comp-color, $focus-color) {
  border: solid;
  // border-radius: 0.5em;
  border-radius: 3px;
  border: $comp-color solid 4px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
  flex-grow: 1;

  .label {
    font-size: 1.5em;
    line-height: 1.5em;
    // color: rgb(0, 0, 0);
    color: #ffffff;
    background-color: $comp-color;
    margin: 0 !important;
    padding: 0 3pt;
  }

  .elements-container {
    overflow: auto;

    .element-component {
      display: flex;
      height: auto;
      justify-content: space-between;
      align-content: center;
      border-top: $focus-color solid 4px;

      .info {
        flex-grow: 1;
      }
    }

    .right-icon {
      display: block;
    }
  }
}

header .material-icons {
  padding: calc(28px - 0.5em);
}

body {
  background-color: #9092c7;
  background-color: #eeeeee;
  // background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(96, 187, 218) 100%);
  // background: linear-gradient(180deg, #4a36df66 0%, #2eabe166 50%);
  background: linear-gradient(180deg, #2eabe166 0%, #4a36df66 90%);
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 56px;
}

header {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0px 0px 8px;
  // background-color: #30257d;
  // background: linear-gradient(65deg, rgba(0,172,228,1) 0%, rgba(23,12,102,1) 100%);
  background: linear-gradient(65deg, #4a36df 0%, #2eaae1 100%);
  // background: linear-gradient(65deg, #2eaae1 0%, #4a36df 100%);

  a {
    height: 100%;
  }

  .center-icon {
    height: 100%;
  }

  .empty {
    width: 56px;
  }

  .title {
    font-size: 36px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
  }

  .user-img {
    width: 56px;
    height: 56px;
    padding: 6px;
    border-radius: 50%;
  }
}

.page-title {
  padding: 0.5em;
  text-align: center;
  font-size: 2em;
}

h1.main-title {
  font-size: 3em;
  margin-bottom: 0.3em;
  padding: 0.5em;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 640px;

  input {
    display: block;
    width: 90%;
    height: 32px;
    margin: 0 auto;
  }

  .field {
    margin-top: 24px;
    font-size: 18px;
    text-align: center;

    textarea,
    input {
      display: block;
      margin: 0 auto;
      width: 90%;
      background-color: transparent;
      font-family: "Source Sans Pro", sans-serif;
    }

    textarea {
      height: 4em;
      background-color: #00000040;
    }
  }

  .field.date_select select {
    display: inline;
  }

  input[type="text"] {
    margin: 0 auto;
    padding: 4px;
    font-size: 24px;
    // border: 0;
    // border-bottom: solid 2px;
  }

  input[type="number"] {
    width: 5em;
    margin: 0 auto;
    padding: 4px;
    font-size: 24px;
    border: 0;
    border-bottom: solid 2px;
  }

  input[type="number"]:hover, input[type="number"]:focus,
  input[type="text"]:hover, input[type="text"]:focus {
    background-color: #00000013;
  }

  input[type="submit"] {
    height: 64px;
    margin: 2em auto;
    padding: 8px;
    font-family: "Roboto Mono", monospace;
    justify-content: space-between;
    padding: 8px;
    font-size: 24px;
    // border: solid 4px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    color: rgb(0, 0, 0);
  }

  .field select {
    display: block;
    width: 256px;
    height: 32px;
    margin: 0 auto;
    background-color: #00000060;
    border-color: #00000060;
    font-size: 18px;
    color: white;
  }

  .field select:hover, .field select:focus {
    background-color: #000000a4;
}
}

.icon-text-component {
  display: flex;

  i {
    margin-right: 0.3em;
  }
}