// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

#event-portrait {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

#event-portrait::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  font-size: 3em;
  padding: 0.1em;
}

#event-info {

  #event-place {
    font-size: 2em;
    font-weight: bold;
  }

  #dates-container {
    display: flex;
    align-items: center;
    max-width: 30em;
    font-size: 1.5em;

    .date-time-container {
      margin-top: 0.5em;
      margin-left: 0.3em;

      span {
        width: 5em;
      }
    }

    .middle-icon {
      margin-right: 0.2em;
      margin-left: 0.2em;
    }
  }

  a {
    font-size: 2em;
    margin-top: 24px;
    display: flex;
    align-items: center;
    background-color: rgba(128, 153, 255, 0.7);
    padding: 0.3em;
    border: #3b4675 solid 0.2em;
    border-radius: 0.5em;

    i {
      font-size: 1.5em;
      margin-right: 0.2em;
    }
  }
}

#event-details {
  font-size: 1.5em;
}

input[type="submit"] {
    background-color: #8099ff;
    border-color: #3b4675;
}

#all-events-panel {
  @include panel-component(#466bff, #172455);
  max-width: 90vw;
  margin-bottom: 1em;

  .elements-container {
    max-height: fit-content;

    .element-component {
      .date {
        width: 2.5em;
        min-width: 2.5em;
        font-size: 2em;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 4px;
        background-color: black;
        color: white;
        text-align: center;
        font-family: "Roboto Mono", monospace;
      }
  
      .title {
        height: 2em;
        max-height: 2em;
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 0.1em;
      }
  
      .icon-text-component {
        font-size: 1.25em;
        max-height: 1em;
      }

      .event-buttons {
        width: 1.5em;

        a {
          font-size: 1.5em;

          i {
            display: block;
            font-size: 1em;
          }
        }
      }
    }
  }
}

#assisting-students-panel {
    @include panel-component(#91f999, #437246);
    max-width: 90vw;
    margin-bottom: 1em;

    .elements-container {
        max-height: fit-content;
        font-size: 1.25em;

        .element-component {
            height: 2em;
            align-items: center;

            .student-info { flex-grow: 1; }

            .profile-img-component {
                @include user-image(1.5em);
                height: 1.7em;
                margin: 0 0.2em;
            }

            .student-tec-id {
              font-size: 0.7em;
              flex-grow: 1;
            }
        }
    }
}

#event-link-component.button-component {
  @include button-component(1em, #8099ff, #3b4675);
}

a#new-event {
  @include button-component(2em, #8099ff, #3b4675);
  margin: 1em auto;
}
