// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

body {
  background-color: #9092c7;
}

#code-input {
  position: relative;
  width: calc(320px - 2em);
  height: 48px;
  margin: 0 auto;
  display: flex;
  margin-top: 12px;
  border-bottom: #30257d solid;
  border-right: #30257d solid;

  input {
    background-color: #00000000;
    border-color: #00000000;
  }

  .input-text {
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
    flex-grow: 1;
  }

  #submit-btn {
    width: 48px;
    height: 48px;
    color: white;
    z-index: 10;
    margin: 0;
  }

  i {
    padding: calc((48px - 36px) / 2);
    position: absolute;
    right: 0;
    background-color: #7b6eda;
  }
}
//launching page

#greeting {
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 16px;
  text-align: center;
}

.login-group{
  border: 5px ridge #3b2e94;
}
.google-login {
  margin: 0 auto;

  img {
    width: 288px;
    height: auto;
    
  }
}
#image-launcher
{
  margin: 0;
  min-width: 450px;
  img{
    max-width: 100%;
    height: auto;

  };
}
#login-container
{
  margin: 15% 0 0 0;
  text-align: left;
  p { font-size: 1.5em; 
    text-align: center;
  }

}


#login-box {
    margin: 0 auto;
}



#signup-container {
  justify-content: center;
  align-items: center ;
  text-align: center;
  margin-top: 10%;
  position: relative;

  
  margin: 0 0 0 0;

  p { font-size:  1.5em; 
    text-align: center;
  }

  a {
    @include button-component(24px, #88b2f7, #3e5271);
    text-align: center;
    display: block;
    line-height: 48px;
    margin: 10% 0 0 0;
    margin-left: 5%;
    
  }
}

#register-evidence-panel {
  flex-direction: column;

  p {
    font-size: 18px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }
}

#houses-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  img {
    height: 96px;

  }
}

.signup_label {
  padding: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

#admin-actions {

  .button-component {
    height: 2em;
    width: 10em;
  }
}

a#houses-button {
  @include button-component(2em, #9b83ea, #473c6b);
}

a#students-button {
  @include button-component(2em, #91f999, #437246);
}

a#registrations-button {
  @include button-component(2em, #ff88aa, #753e4e);
}

a#events-button {
  @include button-component(2em, #8099ff, #3b4675);
}

a#evidences-button {
  @include button-component(2em, #e1d437, #a06e33);
}

a#redirects-button {
  @include button-component(2em, #91d3f9, #3e85af);
}



a#new-registration {
  @include button-component(2em, #ff88aa, #753e4e);
  margin-top: 0px
}

#next-events-panel {
  @include panel-component(#466bff, #172455);
  
  margin-top: 4vh;

  #next-events-container {
    overflow: auto;

    .element-component {
      .date {
        width: 2.5em;
        min-width: 2.5em;
        font-size: 2em;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 4px;
        background-color: black;
        color: white;
        text-align: center;
        font-family: "Roboto Mono", monospace;
      }

      .title {
        height: 2em;
        max-height: 2em;
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 0.1em;
      }

      .icon-text-component {
        margin-top: 0.3em;
        font-size: 1.25em;
        max-height: 1em;
      }

      .event-info {
      }

      .right-icon {
        font-size: 2.5em;
        line-height: 2em;
        margin-right: 10px;
      }
    }
  }
}

#admin-actions {
  margin-bottom: 2em;
}

/*.twitter-timeline{
  height: 800px;
  scroll-behavior: smooth;
}*/

#twitter-feed{
  /*@include panel-component(#466bff, #172455);*/
  /*overflow: auto;
  margin: 15px;
  margin-top: 1.5%;
  display: 1;*/
  max-height: 60vh;
}

@media only screen and (min-width: 640px) {
    #twitter-feed{
    /*@include panel-component(#466bff, #172455);*/
    /*overflow: auto;
    margin: 15px;
    margin-top: 1.5%;
    display: 1;*/
    min-width: 600px;
  }
}

@media only screen and (min-width: 1280px) {
    #twitter-feed{
    /*@include panel-component(#466bff, #172455);*/
    /*overflow: auto;
    margin: 15px;
    margin-top: 1.5%;
    display: 1;*/
    max-width: 45vw;
  }
}
