// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

.itesm-banner {
  font-size: 2em;
  text-align: center;
}

#code-input {
  position: relative;
  width: calc(320px - 2em);
  height: 48px;
  margin: 0 auto;
  display: flex;
  margin-top: 12px;
  border-bottom: #30257d solid;
  border-right: #30257d solid;

  input {
    background-color: #00000000;
    border-color: #00000000;
  }

  .input-text {
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
    flex-grow: 1;
  }

  #submit-btn {
    width: 48px;
    height: 48px;
    color: white;
    z-index: 10;
    margin: 0;
  }

  i {
    padding: calc((48px - 36px) / 2);
    position: absolute;
    right: 0;
    background-color: #7b6eda;
  }
}

#greeting {
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.google-login {
  margin: 0 auto;

  img {
    width: 288px;
    height: auto;
  }
}

#register-evidence-panel {
  flex-direction: column;
  align-items: center;

  p {
    font-size: 18px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.signup_label {
  padding: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

a.button-component {
  height: 2.5em;
}

a#houses-button {
  @include button-component(2em, $houses-button-color, $houses-border-color);
}

a#students-button {
  @include button-component(2em, $students-button-color, $students-border-color);
}

a#registrations-button {
  @include button-component(2em, $registration-button-color, $registration-border-color);
}

a#events-button {
  @include button-component(2em, $events-button-color, $events-border-color);
}

a#evidences-button {
  @include button-component(2em, $evidences-button-color, $evidences-border-color);
}

a#new-registration {
  @include button-component(2em, $registration-button-color, $registration-border-color);
  max-width: 320px;
  margin: 0 auto;
}

#next-events-panel {
  @include panel-component(#466bff, #172455);

  #next-events-container {
    overflow: auto;

    .element-component {
      .date {
        width: 2.5em;
        min-width: 2.5em;
        line-height: 1em;
        font-size: 2em;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 4px;
        background-color: black;
        color: white;
        text-align: center;
        font-family: "Roboto Mono", monospace;
      }

      .title {
        height: 2em;
        max-height: 2em;
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 0.1em;
      }

      .icon-text-component {
        margin-top: 0.3em;
        font-size: 1.25em;
        max-height: 1em;
      }

      .right-icon {
        font-size: 2.5em;
        line-height: 2em;
      }

      .info .event-info {
        height: 1.25em;
        overflow-y: hidden;
      }
    }
  }
}

#admin-actions {
  margin-bottom: 2em;
}

footer {
  padding: 8px;
  background-color: purple;
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: -48px;
}

@media only screen and (min-width: 768px) {
  .house-component {
    font-size: 1.5em;
  }
}
