// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #151135;
}

#house-img {
    padding: 8px;

    .house-icon {
        width: 100%;
        height: auto;
    }
}

#points-container {
    color: white;
    width: fit-content;
    margin: 0 auto;

    span {
        font-size: 2em;
    }

    #house-points {
        font-size: 3em;
        font-weight: 900;
    }

}