// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#house-img {
    padding: 1em;
    width: fit-content;
    margin: 0 auto;
    text-align: center;

    .house-icon {
        max-height: 15em;
        width: auto;
        height: auto;
    }
}

.house-icon {
    margin: 0 auto;
    width: inherit;
    height: inherit;
    padding: 0.5em;
}

.points-container {
    color: white;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em;

    #house-points {
        font-size: 1.5em;
        font-weight: 900;
    }
}

#houses-container {
    background-color: #19143c;

    .house-component {
        padding: 0.5em;

        .points-container {
            color: white;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            font-size: 1.25em;

            #house-points {
                font-size: 1.5em;
                font-weight: 900;
            }
        }
    }
}

main#houses-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main>div {
    height: fit-content;
}

#points-container {
    color: white;
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5em;

    #house-points {
        font-size: 1.5em;
        font-weight: 900;
    }
}

#house-display {
    background-color: #19143c;
}