// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

#house-img {
    padding: 1em;
    width: fit-content;
    margin: 0 auto;

    .house-icon {
        max-height: 50vh;
        width: auto;
        height: auto;
    }
}

.house-img {
    padding: 1em;
    width: fit-content;
    margin: 0 auto;

    .house-icon {
        max-height: 20vh;
        width: auto;
        height: auto;
    }
}

#houses-container {
    background-color: #19143c;
    min-height: calc(100vh - 56px);
    width: 100%;
    padding: 0;
    margin: 0;

    .house-component {
        margin: 1.5em 0;

        .points-container {
            color: white;
            width: fit-content;
            margin: 0 auto;
            font-size: 1.5em;
        
            #house-points {
                font-size: 1.5em;
                font-weight: 900;
            }
        }
    }
}

#points-container {
    color: white;
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5em;

    #house-points {
        font-size: 1.5em;
        font-weight: 900;
    }
}

#house-display {
    background-color: #19143c;
    height: calc(100vh - 56px);
    width: 100%;
    padding: 0;
    margin: 0;
}


#all-students-panel {
    @include panel-component(#91f999, #437246);
    max-width: 90vw;
    margin-bottom: 1em;

    .elements-container {
        height: fit-content;
        font-size: 1.25em;

        .element-component {
            height: 2em;
            align-items: center;
            color: white;
            background-color: rgba(0, 0, 0, 0.2);
            .student-info {
                flex-grow: 1;
                .student-name { white-space: nowrap; }
            }

            .profile-img-component {
                @include user-image(1.5em);
                margin: 0 0.2em;
            }

            .student-tec-id {
              font-size: 0.7em;
              flex-grow: 1;
            }

            .student-points {
                margin: 0 0.5em;
                width: 7em;
                text-align: end;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    #all-students-panel {
        .elements-container {
            font-size: 2.0em;
            .element-component {
                height: 2em;
                align-items: center;
                padding: 10px; 
                .profile-img-component {
                    @include user-image(1.5em);
                    margin: 0 0.2em;
                }
                .student-tec-id {
                  font-size: 0.9em;
                  flex-grow: 1;
                }
                .student-points {
                    margin: 0 0.5em;
                    width: 7em;
                    text-align: end;
                }
            }
        }
    }
}
