// Place all the styles related to the Redirects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

form {
    input {
        display: block;
        width: 256px;
        height: 32px;
        margin: 0 auto;
    }
}

.field select {
    display: block;
    width: 256px;
    height: 32px;
    margin: 0 auto;
    background-color: #00000060;
    border-color: #00000060;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: white;
}

#redirect_code {
    display: block;
    width: 192px;
    height: 32px;
    margin: 0 auto;
    background-color: transparent;
    border-color: transparent;
    border-bottom: black solid 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    color: white;
}

.field {
    margin-top: 24px;
    font-size: 18px;
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 256px;
    height: 64px;
    margin: 0 auto;
    margin-top: 24px;
    font-family: 'Roboto Mono', monospace;
    padding: 8px;
    justify-content: space-between;
    padding: 8px;
    font-size: 24px;
    background-color: #91d3f9;
    border: #3e85af solid 4px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.54);
}

#all-redirects-panel {
  @include panel-component(#91d3f9, #3e85af);
  max-width: 90vw;
  margin-bottom: 1em;

  .elements-container {
    max-height: fit-content;

    .element-component {
        align-items: center;
        height: 2.5em;

        .redirect-info {
            flex-grow: 1;

            .event-title { font-weight: bold; }
            .evidence-title {
                max-height: 1em;
            }
        }

        .redirect-code {
            width: 8em;
            text-align: end;
            margin: 0 0.5em;
        }
  
        .right-icon {
          font-size: 2em;
        }
    }
  }
}

a#new-redirect {
  @include button-component(2em, #91d3f9, #3e85af);
  margin: 1em auto;
}
