// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

form {
    input {
        display: block;
        width: 256px;
        height: 32px;
        margin: 0 auto;
    }
}

.field select {
    display: block;
    width: 256px;
    height: 32px;
    margin: 0 auto;
    background-color: #00000060;
    border-color: #00000060;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: white;
}

#registration_proof {
    display: block;
    width: 100%;
    min-width: 300px;
    max-width: 80%;
    height: 32px;
    margin: 0 auto;
    background-color: transparent;
    border-color: transparent;
    border-bottom: black solid 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: white;
}

.button-component {
    @include button-component(24px, #ff88aa, #753e4e);
}

input[type="submit"] {
    background-color: #ff88aa;
    border-color: #753e4e;
}

td {
    padding: 4px;
}

#all-registrations-panel {
  @include panel-component(#ff88aa, #753e4e);
  max-width: 90vw;
  margin-bottom: 1em;

  .elements-container {
    max-height: fit-content;
    align-items: center;

    .registration-info, .registration-approved, a {
        height: fit-content;
    }

    .element-component {
        height: 2.5em;
        align-items: center;

        .registration-proof {
            flex-grow: 1;
            margin-left: 0.5em;
        }

        .student-tec-id { font-weight: bold; }
        .evidence-title {
            flex-grow: 1;
            text-align: end;
            margin: 0 0.5em;
        }
      
        .right-icon {
          margin-left: 0.5em;
        }
    }
  }
}