// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    justify-content: space-between;
    background-color: #30257d;
}

#student-display {
    width: auto;
    min-width: calc(320px - 2em);
    max-width: calc(640px - 2em);
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;

    .profile-img-component {
        width: 15%;
        height: auto;
        padding: 0;
    }

    .profile-img-component .user-img {
        width: 100%;
        border-radius: 50%;
    }
    
    .profile-img-component .house-icon {
        width: 45%;
        float: right;
        transform: translateY(-75%);
    }

    #student-info-container {
        flex-grow: 1;

        #student-name {
            font-size: 20px;
            height: 2.25em;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
        }

        #student-id {
            font-size: 16px;
            font-family: 'Roboto Mono', monospace;
        }
    }
}