// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

header {
    justify-content: space-between;
}

.profile-img-component {
    @include user-image(6em);
}

#student-display {
    width: 100%;
    min-width: calc(320px - 2em);
    margin: 8px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    justify-content: center;

    .profile-img-component {
        @include user-image(6em);
    }

    #student-info-container {
        padding: 4px;

        #student-name {
            font-size: 2em;
            height: 2.25em;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
        }

        #student-id {
            font-size: 1.5em;
            font-family: 'Roboto Mono', monospace;
        }
    }
}

#puntos-display {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 3em;

    span#student-puntos {
        font-size: 1.5em;
        font-weight: 900;
    }
}

#my-registrations-panel {
    @include panel-component($registration-button-color, $registration-border-color);
    margin-bottom: 1em;

    .registration-component {
        height: 4.5em;

        .info {
            padding: 0.3em;
        }

        .title {
            height: 2em;
            max-height: 2em;
            font-size: 1.5em;
        }

        .date {
            margin-top: 0.25em;
        }

        .right-icon {
            font-size: 2.5em;
            line-height: 2em;
        }
    }

    .info .date {
        font-family: 'Roboto Mono', monospace;
    }
}

#filter-title {
    text-align: center;
    margin-bottom: 20pt;
}

.student-filters {
    margin-top: 5vh;
    width: 50%;
}

#houses-filter {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.house-filter-button {
    padding: 5pt;
    margin: 0pt 3pt;
    // border: #222222 3pt solid;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.house-filter-button:hover {
    padding: 5pt;
    margin: 0pt 3pt;
    // border: #111111 3pt solid;
}

.house-filter-button:active {
    padding: 5pt;
    margin: 0pt 3pt;
    // border: #000000 3pt solid;
    border-style: inset;
}

.house-filter-button-green {
    background-color: $students-button-color;
}

.house-filter-button-green:hover {
    background-color: $students-hover-color;
}

.house-filter-button-red {
    background-color: $registration-button-color;
}

.house-filter-button-red:hover {
    background-color: $registration-hover-color;
}

.house-filter-img {
    margin: 0pt 5pt;
    height: 60pt;
    width: auto;
}

#points-filter-inputs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width:900px){
    #points-filter-inputs {
        flex-direction: column;
    }
}

.points-filter-inputs-50 {
    width: 40%;
    padding: 0pt 5pt;
    margin: 0pt 5pt;
}

.points-range-filter-inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.filter-div {
    // padding: 5pt;
    margin: 5pt 5pt;
}

.points-filter-input-header {
    text-decoration: solid;
    padding: 0pt 2pt;
    margin: 5pt 0pt;
}

input[type="number"] {
    width: 5em;
    margin: 0 auto;
    padding: 4px;
    font-size: 24px;
    border: 0;
    border-bottom: solid 2px;
    background-color: transparent;
}

input[type="number"]:hover, input[type="number"]:focus {
    background-color: #00000013;
}

select {
    display: block;
    width: 256px;
    height: 32px;
    margin: 0 auto;
    background-color: #00000060;
    border-color: #00000060;
    font-size: 18px;
    color: white;
    margin: 8pt 0pt;
}

select:hover, select:focus {
    background-color: #000000a4;
}

.student-buttons {
    width: 1.5em;
    align-self: center;
    a {
        font-size: 1.5em;
        i {
            display: block;
            font-size: 1em; 
        }
    }
}

#all-students-panel {
    @include panel-component($students-button-color, $students-border-color);
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 96px;
    width: fit-content;

    .elements-container {
        height: fit-content;
        font-size: 1.25em;

        .element-component {
            .student-info {
                flex-grow: 1;
                height: fit-content;

                .student-name {
                    white-space: nowrap;
                }
            }

            .profile-img-component {
                @include user-image(1.5em);
                margin: 0 0.2em;
            }

            .student-tec-id {
                font-size: 0.7em;
                flex-grow: 1;
            }

            .student-points {
                margin: 0 0.5em;
                width: 7em;
                line-height: 2em;
                text-align: end;
            }
        }
    }
}

.student-tec-id {
    font-family: 'Roboto Mono', monospace;
}

.student-points {
    font-weight: bold;
}

.student-points-panel {
    height: fit-content;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0.5em;
    width: 7em;
    line-height: 2em;
    text-align: end;
}