// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_global.scss";

header {
    justify-content: space-between;
}

.profile-img-component {
    @include user-image(6em);
}

#student-display {
    width: 100%;
    min-width: calc(320px - 2em);
    margin: 8px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    justify-content: center;

    .profile-img-component {
        @include user-image(6em);
    }

    #student-info-container {
        padding: 4px;

        #student-name {
            font-size: 2em;
            height: 2.25em;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
        }

        #student-id {
            font-size: 1.5em;
            font-family: 'Roboto Mono', monospace;
        }
    }
}

#puntos-display {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 3em;

    span#student-puntos {
        font-size: 1.5em;
        font-weight: 900;
    }
}

#my-registrations-panel {
    @include panel-component(#ea6d91, #622839);
    margin-bottom: 1em;

    .registration-component {
        height: 4.5em;

        .info {
            padding: 0.3em;
        }

        .title {
            height: 2em;
            max-height: 2em;
            font-size: 1.5em;
        }

        .date {
            margin-top: 0.25em;
        }

        .right-icon {
          font-size: 2.5em;
          line-height: 2em;
        }
    }

    .info .date {
        font-family: 'Roboto Mono', monospace;
    }
}

#all-students-panel {
    @include panel-component(#91f999, #437246);
    max-width: 90vw;
    margin-bottom: 1em;

    .elements-container {
        max-height: fit-content;
        font-size: 1.5em;

        .element-component {
            height: 3.3em;
            align-items: center;

            .student-info {
                margin-left: 0.5em;
                flex-grow: 1;
            }

            .profile-img-component {
                @include user-image(2.5em);
                height: 3em;
                margin-left: 0.2em;
            }

            .title {
                height: 2em;
                max-height: 2em;
                font-size: 1.5em;
                font-weight: bold;
                padding-top: 0.1em;
            }
    
            .right-icon {
                font-size: 2em;
                line-height: 1.5em;
            }
        }
    }
}

.student-tec-id { font-family: 'Roboto Mono', monospace; }
.student-points { font-weight: bold; }